body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: rgba(100, 189, 189, 0.5);
    color: white;
    text-align: center;
    padding: 20px 20px 20px 20px;
    background-image: url(./img/fundo-header.jpg);
    background-size: cover;
}

.menu {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

a {
    color: white;
    margin: 0 0 30px 30px;
    font-weight: 200;
}

.conteudo {
    margin: 0 0 20px 20px;
}

.descricao {
    font-weight: 100;
    font-style: italic;
    margin: 20px 20px 20px 20px;
    text-align: center;
}

.img-index {
    width: 120px;
    border-radius: 50%;
    border: solid 4px #000000;
    padding: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}

.img-footer {
    width: 30px;
    height: 30px;
    display: inline;
}

.img-tabela {
    width: 150px;
}

table {
    border: 1px solid #000000;
    padding: 5px;
    width: 50%;
    overflow: auto;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #000000;
    color: white;
  }

.container-do-search {
    margin-top: 20px;
    height: 100px;
}

.button-voltar {
    text-align: center;
    margin: 0;
    margin-top: 50px;
}

#back-button {
    background-color: white;
    height: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    text-align: center;
    margin: 0;
    padding: 10px;
}

#back-button:hover {
    background-color: #000000;
    color: white;
}


.tabela-compras {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
    border-color: white;
}

td button:hover{
    background-color: #c44f00;
}

.icone {
    height: 15px;
    width: 15px;
}

