@media screen and (min-device-width : 320px) and (max-device-width : 420px) {
    /* celulares */
    }

@media screen and (min-device-width: 421px) and (max-width: 800px) {
   /* tablets */
    #first-block {
        width: 100%;
    }

    .green-block {
        width: 100%;
        display: block;
    }

    .black-block, .white-block {
        width: 100%;
        margin: 1vh;
    }

    .blue-block, .yellow-block, .green-block {
        width: 27vw;
        margin: 1vh;
    }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
    /* computadores */
    #first-block, .green-block {
        width: 100%;
    }

    .black-block, .white-block {
        margin-top: 2vh;
        margin: 1vh;
    }
}

#main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
}

div{
    margin: solid black 1px;
    text-align: center;
}

#first-block {
    background-color: red;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    /* margin-top: 5vh; */
    flex-wrap: wrap;
    height: 10vh;
}

.blue-block {
    background-color: blue;
    display: flex;
    width: 27vw;
    /* margin: auto; */
    justify-content: space-between;
    margin-top: 5vh;
    flex-wrap: wrap;
    height: 20vh;
}

.yellow-block {
    background-color: yellow;
    display: flex;
    width: 27vw;
    /* margin: auto; */
    justify-content: space-between;
    margin-top: 5vh;
    flex-wrap: wrap;
    height: 20vh;
}

.green-block {
    background-color: green;
    display: flex;
    width: 27vw;
    /* margin: auto; */
    justify-content: space-between;
    margin-top: 5vh;
    flex-wrap: wrap;
    height: 20vh;
}

.black-block {
    background-color: black;
    color: white;
    display: flex;
    width: 43vw;
    /* margin: auto; */
    justify-content: space-between;
    margin-top: 5vh;
    flex-wrap: wrap;
    height: 35vh;
}

.white-block {
    background-color: white;
    display: flex;
    width: 27vw;
    /* margin: auto; */
    justify-content: space-between;
    margin-top: 5vh;
    flex-wrap: wrap;
    height: 20vh;
}